# Installed packages
node_modules/

# Production build files
dist/

# Vercel local settings
.vercel/

# Environment variables
.env
.env.local
.env.*.local

# Log files
*.log

# Editor and operating system files
.vscode/
.idea/
.DS_Store
Thumbs.db
